aiohttp==3.6.3
appdirs==1.4.4
appnope==0.1.0
astroid==2.4.2
async-timeout==3.0.1
attrs==20.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
cast-api @ file:///Users/noahkamara/Library/Mobile%20Documents/com~apple~CloudDocs/Developer/CAST/Backend/cast_api
cast-db @ file:///Users/noahkamara/Developer/CAST/Backend/cast_db
cast-logger @ file:///Users/noahkamara/Developer/CAST/Backend/cast_logger
cast-tools @ file:///Users/noahkamara/Developer/CAST/Backend/cast_tools
cast-workers @ file:///Users/noahkamara/Developer/CAST/Backend/cast_worker
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.7.0
cryptography==3.2.1
cycler==0.10.0
decorator==4.4.2
descartes==1.1.0
discord.py==1.5.1
distlib==0.3.1
dnspython==1.15.0
dnspython3==1.15.0
docutils==0.16
ecdsa==0.14.1
et-xmlfile==1.0.1
fastapi==0.61.1
filelock==3.0.12
Fiona==1.8.17
Flask==1.1.2
geopandas==0.3.0
h11==0.11.0
idemocracy-utils @ file:///Users/noahkamara/Library/Mobile%20Documents/com~apple~CloudDocs/Developer/iDemocracy/Backend/idemcracy_utils
idna==2.10
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
jupyter-client==6.1.7
jupyter-core==4.6.3
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mcstatus==4.1.0
multidict==4.7.6
munch==2.5.0
numpy==1.19.2
omgready-api-omgmedia @ file:///Users/noahkamara/Developer/OMG%20Ready/omgready_api
omgready-db @ file:///Users/noahkamara/Developer/OMG%20Ready/Backend/omgready_db
omgready-db-omgmedia @ file:///Users/noahkamara/Developer/OMG%20Ready/omgready_db
openpyxl==3.0.5
pandas==1.1.4
parso==0.7.1
passlib==1.7.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pipenv==2020.8.13
plotly==4.12.0
plotly-geo==1.0.0
prompt-toolkit==3.0.7
ptyprocess==0.6.0
pyasn1==0.4.8
pycparser==2.20
pydantic==1.6.1
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.6.0
pyotp==2.4.1
pypandoc==1.5
pyparsing==2.4.7
pyPodcastParser==2.0.0
pyproj==2.6.1.post1
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyshp==1.2.10
python-dateutil==2.8.1
python-jose==3.2.0
python-multipart==0.0.5
python-oauth2==1.1.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.24.0
rethinkdb==2.4.7
retrying==1.3.3
rsa==4.6
rstcheck==3.3.1
schedule==0.6.0
Shapely==1.7.1
six==1.15.0
soupsieve==2.0.1
starlette==0.13.6
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
urllib3==1.25.10
uvicorn==0.12.1
virtualenv==20.0.35
virtualenv-clone==0.5.4
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
xlrd==1.2.0
xmljson==0.2.1
yarl==1.5.1
