{% extends "base/base.html" %}
{% set title = "Changelog" %}

{% block css %}
<link href="{{ url_for('static', filename='css/changelog.css') }}" rel="stylesheet">
{% endblock %}

{% block fullwidth %}
{% for v in versions %}
<div class="version" id="{{v.version}}">
    <h1>{{ v.version.replace("v","") }} {{ v.date | time_format }} {% if v.tagline != None %} - {{v.tagline}}{% endif %}</h1>
    
    <div class="row" style="width: 100%">
        <div class="col-md-6 nopadding">
            <h2>New Features</h2>
            {% for feature in v.changelog.features %}
                <div> 
                    <h3>{{ feature.title }}</h3>
                    <p>{{ feature.descr }}</p>
                    <img src="https://picsum.photos/320/180" width=100%/>
                    {% if feature.img %}{% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <h2>Bug Fixes & Improvements</h2>
            <ul>
                {% for change in v.changelog.changes %}
                    <li>{{ change }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}